<div class="accueil-container">
    <h2>Bienvenue dans le projet Descodeuses Contact !</h2>
<p>Présentation des principales fonctionnalités</p>

<div class="feature-grid">
    <mat-card class="feature-card">
      <mat-icon class="icon">person_add</mat-icon>
      <p>Ajoutez vos contacts</p>
    </mat-card>
    <mat-card class="feature-card">
      <mat-icon class="icon">search</mat-icon>
      <p>Recherchez facilement</p>
    </mat-card>
     <mat-card class="feature-card">
      <mat-icon class="icon">delete</mat-icon>
      <p>supprimer un contact</p>
    </mat-card>
      <mat-card class="feature-card">
      <mat-icon class="icon">bar_chart</mat-icon>
      <p>Voir le nombre Total</p>
    </mat-card>
  </div>
</div>
   
